.Carousel {
  position: relative;
}
.searh_input {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translate(-50%);
  width: 90%;
}
/* 首页导航样式开始 */
.hk_nav{
    background: #fff;
    display: flex;
    padding: 10px 0;
}
.nav_item {
    flex: 1;
    width: 33%;
    text-align: center;
}
.nav_img_waper {
   
}
.nav_img_waper > img {
    width: 48px;
}
/* 首页导航样式结束 */

/* 租房小组样式开始 */
.rent_group {

}
.rent_title {
  display: flex;
  justify-content: space-between;

}
.rent_title > span:first-child {
  font-weight: bold;
  font-size: 18px;
}
.rent_content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.rent_item {
 display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  background: #fff;
  .item.info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .item.img_wrap {
    padding: 20px;
    flex: 1;
    width: 50%;
      
  }
  .item.img_wrap > img {
    width: 50%;
  }
}

/* 租房小组样式结束 */


// 最新咨询样式开始
.hk_news {
  background: #fff;
  padding: 10px 20px;
  .new_title {
    h3 {

    }
  }

  .news_content {
     
    .news_item {
      border-bottom: 1px solid #e5e5e5;
      padding: 15px 10px 15px 0;
      display: flex;
      .news_img_wrap {
        width: 120px;
        height: 90px;
        img {
          width: 100%;
        }
      }

      .news_info {
        flex: 1;
        padding-left: 12px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
         text-align: center;
        .news_title {
          h3 {
            margin: 0;
            font-size: 14px;
          }
        }

        .news_other {
          display: flex;
          justify-content: space-between;
          color: #999;
          span {

          }
        }
      }
    }
  }
}

// 最新咨询样式结束