.hk_nav{
    background: #fff;
    display: flex;
    padding: 10px 0;
}
.nav_item {
    flex: 1;
    width: 33%;
    text-align: center;
}
.nav_img_waper {
   
}
.nav_img_waper > img {
    width: 48px;
}
