.search_bar {

  display: flex;
  justify-content: space-between;
}
.search_warp {
    display: flex;
    flex: 1;
    width: 80%;
    height: 34px;
    background: #Fff;
    align-items: center;
    border-radius: 5px;

}
.search_input {
   
    color: #666;
   border-left: 1px solid currentColor;
   padding-left: 10px;
}
.localtion {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    

}
.iconfont {
    color: #fff;
    font-size: 25px;
    margin-left: 10px;
   
}
